<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Administración LubriXpress</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/Home/img/lubri/LGOO.png" rel="icon">


    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="~/assets/Administration/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/remixicon/remixicon.css" rel="stylesheet">



    <!-- Template Main CSS File -->
    <link href="~/assets/Administration/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index","Admin")" class="logo d-flex align-items-center">
                <img src="~/assets/Home/img/lubri/logo5.png" alt="">
                <span class="d-none d-lg-block">LubriXpress</span>
            </a>

            <i class="bi bi-list toggle-sidebar-btn"></i>

        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">


                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@Session["[User]"]</h6>
                            <span>@Session["[NameRole]"]</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">

                                <i class="bi bi-person"></i>
                                <span>Mi Perfil</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-arrow-left-right"></i>
                                <span>Cambiar contraseña</span>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->


    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link">
                    <span>Bienvenido @Session["[User]"]</span> <br />
                </a>
            </li>




            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("Index","Admin")">
                    <i class="bi bi-grid"></i>
                    <span>Inicio</span>
                </a>
            </li>
            <!-- End Dashboard Nav -->

            @if (Session["RolUsuario"].ToString() == "1")
            {


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Clientes-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Clientes</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Clientes-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                        <li>
                            <a href="@Url.Action("CreatePayments", "Payments")">
                                <i class="bi bi-circle"></i><span>Registrar Cliente</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("VerUsuarios", "User")">
                                <i class="bi bi-circle"></i><span>Ver Clientes</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!--End Pagos Nav-->


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Vehículos-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Vehículos</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Vehículos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


                        <li>
                            <a href="@Url.Action("RequestTeacher", "Teachers")">
                                <i class="bi bi-circle"></i><span>Registrar Vehículos</span>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("RequestTeachersSchedules", "Teachers")">
                                <i class="bi bi-circle"></i><span>Ver Vehículos</span>
                            </a>
                        </li>


                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Mantenimientos-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Mantenimientos</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Mantenimientos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


                        <li>
                            <a href="@Url.Action("RequestTeacher", "Teachers")">
                                <i class="bi bi-circle"></i><span>Registrar Mantenimiento</span>
                            </a>
                        </li>


                        <li>
                            <a href="@Url.Action("RequestTeachersSchedules", "Teachers")">
                                <i class="bi bi-circle"></i><span>Ver Mantenimientos</span>
                            </a>
                        </li>


                    </ul>
                </li>



             

            }

            @if (Session["RolUsuario"].ToString() == "5")
            {


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Grupos-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Grupos</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Grupos-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                        <li>
                            <a href="@Url.Action("ShowGroups", "Group")">
                                <i class="bi bi-circle"></i><span>Ver Grupos </span>
                            </a>
                        </li>


                    </ul>
                </li>
                @*End Grupos Nav*@


                <li class="nav-item">
                    <a class="nav-link collapsed" data-bs-target="#Marcas-nav" data-bs-toggle="collapse" href="#">
                        <i class="bi bi-menu-button-wide"></i><span>Ingreso y Salida</span><i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                    <ul id="Marcas-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


                        <li>
                            <a href="@Url.Action("TimeMarkTeacher", "Teachers")">
                                <i class="bi bi-circle"></i><span>Marcar Asistencia</span>
                            </a>
                        </li>

                    </ul>
                </li>
                @*End Marcas Nav*@

            }


            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#Perfil-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Perfil</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="Perfil-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                    <li>
                        <a href="@Url.Action("EditUser", "User", new { i = Session["IdUser"] , msj = false })">
                            <i class="bi bi-circle"></i><span>Ver Perfil</span>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("ChangePassword","User")">
                            <i class="bi bi-circle"></i><span>Cambiar Contraseña</span>
                        </a>
                    </li>


                </ul>
            </li>
            @*End Grupos Nav*@


            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("SingOut","Home")">
                    <span style="color:darkred;" class="text-center">Cerrar Session</span>
                </a>
            </li>

        </ul>
    </aside><!-- End Sidebar-->

    @RenderBody()


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/Administration/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/Administration/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/Administration/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/Administration/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/Administration/vendor/quill/quill.min.js"></script>
    <script src="~/assets/Administration/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/Administration/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/Administration/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script defer src="~/assets/Administration/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>