
@model IEnumerable<Web_LX.Entities.RoleEnt>
@{
    ViewBag.Title = "ListarRoles";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<heah>

    <link rel="stylesheet" href="~/assets/Administration/css/datatable/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="~/assets/Administration/css/datatable/1.5.1_css_dataTables.dateTime.min.css" />

    <script defer src="~/assets/Administration/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_1.13.5_js_jquery.dataTables.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_dataTables.buttons.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_jszip_3.10.1_jszip.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_pdfmake.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdnjs.cloudflare.com_ajax_libs_pdfmake_0.1.53_vfs_fonts.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.html5.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/cdn.datatables.net_buttons_2.4.1_js_buttons.print.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/2.29.2_moment.min.js"></script>
    <script defer src="~/assets/Administration/js/DataTable/1.5.1_js_dataTables.dateTime.min.js"></script>

    <script defer src="~/assets/Administration/js/DataTable/DataTableUsers.js"></script>


</heah>


<main id="main" class="main">

    <div class="pagetitle" >
        <h1>Lista de Roles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administration/Inicio">Dashboard</a></li>
                <li class="breadcrumb-item">Usuarios</li>
                <li class="breadcrumb-item active">Roles</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <br />
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="@Url.Action("RegisterRol","Role")" class="btn btn-sm text-white" style="background-color: #5f81e8;">Crear nuevo Rol</a>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <br>
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        @if (ViewBag.MsjPantallaPostivo != null)
                                        {
                                            <div style="text-align:center" class="alert alert-success" role="alert">
                                                @ViewBag.MsjPantallaPostivo
                                            </div>
                                        }
                                        @if (ViewBag.MsjPantallaNegativo != null)
                                        {
                                            <div style="text-align:center" class="alert alert-danger" role="alert">
                                                @ViewBag.MsjPantallaNegativo
                                            </div>
                                        }
                                        <br />
                                        <table id="DataTable" class="table table-hover" style="width: 100%">
                                            <thead>
                                                <tr>
                                                    <th>Numero de Rol</th>
                                                    <th>Nombre</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.IdRol</td>
                                                        <td>@item.Name</td>
                                                        <td style="text-align:center">
                                                            <a type="submit" class="btn btn-sm text-white" style="background-color: #5f81e8;" href="@Url.Action("EditRole", "Role", new { i = item.IdRol })"><i class="bi bi-pencil-square"></i>Editar</a>
                                                        </td>

                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-1">
                                        <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Regresar</a>
                                    </div>
                                </div>

                            </div>





                        </div>
                    </div>

                </div>
            </div>
    </section>

</main><!-- End #main -->
