
@{
    ViewBag.Title = "ErrorAdministration";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Administración Web_LX</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/Administration/img/Icono.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/Administration/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/Administration/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/Administration/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index","Admin")" class="logo d-flex align-items-center">
                <img src="~/assets/Administration/img/Icono.png" alt="">
                <span class="d-none d-lg-block">Centro Cultural</span>
            </a>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">@Session["[User]"]</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>@Session["[User]"]</h6>
                            <span>@Session["[NameRole]"]</span>
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("SingOut","Home")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->


    <main>
        <div class="justify-content-center align-items-center text-center">
            <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100" style="height: 80vh;">
                <br />
                <br />
                <br />
                <div>
                    <h1>Lo sentimos</h1>
                    <h2>Hemos tenido un error</h2>
                    <h3>Por favor contacte al administrador.</h3>
                </div>
                <br />
                <div>
                    <button type="button" class="btn" onclick="window.history.back();" style=" background-color: #5f81e8; color: white;">Regresar</button>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                            <img src="~/assets/Administration/img/not-found.svg" class="img-fluid" alt="Page Not Found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/Administration/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/Administration/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/Administration/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/Administration/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/Administration/vendor/quill/quill.min.js"></script>
    <script src="~/assets/Administration/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/Administration/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/Administration/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/Administration/js/DataTable/code.jquery.com_jquery-3.7.0.js"></script>


    <!-- Main JS File -->
    <script src="~/assets/Administration/js/main.js"></script>

</body>

</html>
