@model Web_LX.Entities.UserEnt
@{
    ViewBag.Title = "CambiarContraseña";
    Layout = "~/Views/Shared/_Layout_Administration.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle" >
        <h1>Cambiar Contraseña</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administration/Inicio">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Cambiar Contraseña</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.UserId)
        <section class="section">
            <div class="row">

                <div class="card">
                    <div class="card-body">
                        <br />
                        @if (ViewBag.MsjPantallaPostivo != null)
                        {
                            <div id="mensajePositivo" style="text-align:center" class="alert alert-success" role="alert">
                                @ViewBag.MsjPantallaPostivo
                            </div>
                        }
                        @if (ViewBag.MsjPantallaNegativo != null)
                        {
                            <div id="mensajeNegativo" style="text-align:center" class="alert alert-danger" role="alert">
                                @ViewBag.MsjPantallaNegativo
                            </div>
                        }
                        <h5 class="card-title">Formulario de Registro de Usuario</h5>
                    </div>

                    <div class="container">
                        <div class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Contraseña Actual</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.UserPw, new { @type = "password", @placeholder = "Digite la contraseña Actual", @id = "PwActual", @class = "form-control" })
                            </div>
                        </div>
                        <div id="prueba" class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Nueva Contraseña</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.NewUserPw, new { @type = "password", @placeholder = "Digite la nueva contraseña", @id = "PwNuevo", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row mb-3 d-flex justify-content-center">
                            <label for="inputNumber" class="col-sm-3 col-form-label">Confirmar Contraseña</label>
                            <div class="col-sm-5">
                                @Html.TextBoxFor(m => m.ConfirmPw, new { @type = "password", @placeholder = "Repita la nueva contraseña", @id = "ConfPw", @class = "form-control" })
                            </div>
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <div>
                                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-secondary" onclick="window.history.back();">Regresar</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    }

</main>


<script>


    // Esperar 5 segundos y luego ocultar el mensaje
    setTimeout(function () {
        var mensajeDiv = document.getElementById('mensajePositivo');
        if (mensajeDiv != null) {
            mensajeDiv.style.display = 'none';
        }

        var mensajeDiv2 = document.getElementById('mensajeNegativo');
        if (mensajeDiv2 != null) {
            mensajeDiv2.style.display = 'none';
        }

        Session["MensajePositivo"] = 0;
    }, 5000); // 5000 milisegundos = 5 segundos

</script>